<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bosket.html</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <form method="GET" action="./todaview.ejs"></form>
        <h4>this is all what you orderd</h4>
        לזהות אותו לפי שם ומייל
        צריך להופיע פה כל הפריטים שנבחרו
        צריך להיות פה אפשרות שהלקוח יכול לבטל את אחד הפריטים
    </form>
</body>
</html>