<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="the Web for second-hand holy books">
    <meta name="keywords" content="books, holy books, seccondhand,jewish books">
    <meta name="author" content="Moshe abrams">
    <title>Nadir's home page</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../../controllers/homeController.js"></script> 
    <script src="../../controllers/ordersController.js"></script>
    
</head>
<body class="container">
    <header>
        <%- include ("../partials/header") %>
    </header>
    <form method="GET" action="./bosket.ejs">
        <div class="jumbotron">
            <button >לעגלת הקניות</button>
        </div>
    </form>
    <form id="searchform" method="GET" action="../../controllers/homeController.js">
        this is a form who sends me to home controller
        <input type="text" id="searchname"><br><br>
        <button id="searchbutton" type="submit">חפש</button>
       
        

        
    </form>
    <form method="GET" action="./orderDetail.ejs">
        
        פה צריך להופיע כל הספרים עם אפשרות לבחור אחד מהם
        פה שלוח אותו לORDERSDEDAILS.EJS שיימלא פרטים
        this is a form who sends me to ORDERSDEDAILS.ejs 
       
    </form>
    
<footer>
    <%- include ("../partials/footer") %>
</footer>
</body>  
</html>