<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todaview</title>
    <script src="../../controllers/ordersController.js"></script>
</head>
<body>
    
    <h1>תודה רבה שהזמנתם אצלינו</h1>
    <h1>פה אני אמור לאגור מאחורה את כל ההזמנה ולהוסיף את זה לד"ב </h1>

</body>
</html>